
.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin: auto;

}

.crystal {
    border: 1px solid blue;
    height: 200px;
    width: 200px;
}

#crystal-1, #crystal-2, #crystal-3, #crystal-4 {
    margin: 20px;
}